<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd  
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-4.3.xsd
                        http://www.springframework.org/schema/tx
                        http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
                        http://www.springframework.org/schema/util 
                        http://www.springframework.org/schema/util/spring-util-4.3.xsd">

	<!-- 自动扫描加载Spring @Component -->
<!-- 	<context:component-scan base-package="cn.xxh.gold.sys.api,cn.xxh.gold.sys.service,cn.xxh.gold.Job,cn.xxh.gold.sys.service,cn.xxh.gold.sys.dao" />
 -->	
	 <context:component-scan base-package="cn.xxh">
	 	<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	 </context:component-scan>
	<!-- java文件获取 ${KEY} -->
	<bean id="configProperties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="locations">
			<list>
				<value>classpath:*.properties</value>
				<value>classpath:config/dev/config-base.properties</value>
				
			</list>
		</property>
		<!-- 设置编码格式 -->
		<property name="fileEncoding" value="UTF-8"></property>
	</bean>
	
	<!-- xml配置文件获取 ${KEY} -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
		<property name="properties" ref="configProperties" />
	</bean>
	
    <import resource="classpath:spring-jdbc.xml"/>
    <import resource="classpath:spring-job.xml"/>
    <import resource="classpath:dubbo-provider-zk.xml"/>
</beans>